*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: MIchroma , sans-serif;
}
body{
    /* background-image: url("images/css-bacl-image.png");
    background-size: cover;
    background-repeat: no-repeat; */
    height: 1400px;
    background-color: black;
}
button{
    height: 50px;
    width: 50px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    border: none;
    margin: 10px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}
button:hover{
    background-color: green;
}
