*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: MIchroma , sans-serif;
}
body{
    /* background-image: url("images/css-bacl-image.png");
    background-size: cover;
    background-repeat: no-repeat; */
    height: 1400px;
    background-color: black;
}
button{
    height: 50px;
    width: 50px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    border: none;
    margin: 10px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}
button:hover{
    background-color: green;
}
.notes{
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-top:50px;
}
.box{
    flex: 0 0 28em;
    margin-right: 50px;
    height: 520px;
    width: 500px;
    border: 1px solid rgba(111, 110, 110, 0.375);
    background: transparent;
    backdrop-filter: blur(5px);
}
.notes::-webkit-scrollbar{
    display: none;
}
#heading{
    font-size: 50px;
    color: rgb(5, 195, 220);
    margin-left: 30px;
    margin-top: 20px;
    margin-left: 70px;
}
.one{
    height: 440px;
    width: 100%;
    background-image: url("images/css-notes-one.png");
    background-size: cover;
}
.btn{
    height: 50px;
    width: 100%;
    /* background-color: rgb(243, 169, 8); */
    border-radius: 10px;
    border: none;
    font-size: 17px;
    letter-spacing: 1px ;
    color: white;
    box-shadow: 0 0 15px rgb(243, 169, 8);
    margin-top: 12px;
    cursor: pointer;
    background: linear-gradient(to right, #ff758c, #ff7eb3, #8e54e9, #4776e6, #43cea2);
    box-shadow: 0 0 15px linear-gradient(to right, #ff758c, #ff7eb3, #8e54e9, #4776e6, #43cea2);
}
.two{
    height: 440px;
    width: 100%;
    background-image: url("images/css-notes-two.png");
    background-size: cover;
}
.three{
    height: 440px;
    width: 100%;
    background-image: url("images/css-notes-three.png");
    background-size: cover;
}
.four{
    height: 440px;
    width: 100%;
    background-image: url('images/css-notes-four.png');
    background-size: cover;
}
.five{
    height: 440px;
    width: 100%;
    background-image: url("images/css-notes-five.png");
    background-size: cover;
}
.six{
    height: 440px;
    width: 100%;
    background-image: url("images/css-notes-six.png");
    background-size: cover;
}
.seven{
    height: 440px;
    width: 100%;
    background-image: url("images/css-notes-seven.png");
    background-size: cover;
}