*{
    margin: 0px;
    padding: 0px;
    font-family: Michroma , sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.btn{
    height: 50px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 10px ;
    border: none;
    cursor: pointer;
    letter-spacing: 4px ;
    font-weight: 600;
    font-size: 17px;
}
.btn:hover{
    background-color: green;
}