*{
    margin: 0px;
    padding: 0px;
    font-family: Michroma , sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    position: fixed;
}
button:hover{
    background-color: green;
}