*{
    margin: 0px;
    padding: 0px;
    font-family: Michroma , sans-serif;
    box-sizing: border-box;
}
body{
    /* background-image: url("images/html.png");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    height: 1500px;
    /* mask-image:linear-gradient(to bottom, rgba(0 , 0 , 0 , 1) , rgba(0 , 0 , 0 , 0)); */
}
#btn{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
    position: fixed;
}
#btn:hover{
    background-color: green;
}
main{
    display: flex;
}
.left{
    height: 850px;
    width: 450px;
    border: 2px solid red;
    margin: 20px;
    overflow: auto;
    position: fixed;
    margin-top: 70px;
}
.right{
    height: 1000px;
    width: 1000px;
    margin-top: 20px;
    border: 2px solid red;
    margin-left: 500px;
    margin-top: 70px;

}
.card{
    height: 50px;
    width: 100%;
    border: 2px solid white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}
.about{
    color: white;
    padding-left: 180px;
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
}
.boiler-plate{
    color: white;
    padding-left: 100px;
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 2px;
}