*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Michroma , sans-serif;
}
body{
    background-image: url("images/login-page.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
